---
import BlogFeed from "~/components/blocks/BlogFeed.astro";
import Newsletter from "~/components/blocks/Newsletter.astro";
import Statement from "~/components/blocks/Statement.astro";
import TemplateCard from "~/components/blocks/TemplateCard.astro";
import Dots from "~/components/Dots.astro";
import PageLayout from "~/layouts/PageLayout.astro";
import keyBy from "lodash/keyBy";
import { getCollection } from "astro:content";
import TemplatesHero from "~/components/blocks/TemplatesHero.astro";
import TempateTagMenu from "~/components/blocks/TempateTagMenu.astro";
import Hero from "~/components/blocks/Hero.astro";
import TemplateGrid from "~/components/blocks/TemplateGrid.astro";

const templates = await getCollection("templates");

const featured = templates
  .filter((tmpl: any) => !!tmpl.data.metadata.featured)
  .sort((a: any, b: any) => a.data.metadata.fsort - b.data.metadata.fsort);

const rest = templates
  .filter((tmpl: any) => !tmpl.data.metadata.featured)
  .sort((a: any, b: any) => a.data.sort - b.data.sort);
---

<PageLayout title="Blog" spacing="md">
  <Hero
    title="Expertly crafted templates"
    description="Start a board instantly with one of our templates. Templates are fully customizable and come with instructions, sticky notes, categories and fun collaboration tools."
    pill="Templates"
    compact
  />
  <TempateTagMenu active="all" />

  <TemplateGrid title="Featured templates">
    {
      featured.map((tmpl: any) => (
        <TemplateCard
          href={`/templates/${tmpl.data.seoSlug}`}
          image={tmpl.data.thumbUrl}
          name={tmpl.data.label}
          description={tmpl.data.description}
          tags={tmpl.data.tags}
        />
      ))
    }
  </TemplateGrid>

  <TemplateGrid title="All templates">
    {
      rest.map((tmpl: any) => (
        <TemplateCard
          href={`/templates/${tmpl.data.seoSlug}`}
          image={tmpl.data.thumbUrl}
          name={tmpl.data.label}
          description={tmpl.data.description}
          tags={tmpl.data.tags}
        />
      ))
    }
  </TemplateGrid>

  <div class="h-8"></div>
</PageLayout>
