---
import { render } from "astro:content";
import { dynamicImportImage } from "~/utils";
import { Image } from "astro:assets";

const { post } = Astro.props;
const { Content } = await render(post);
const importedImage = await dynamicImportImage(post.data.image);
---

<section class="px-4 py-6 lg:-mt-8 lg:py-16">
  <div class="mx-auto flex max-w-[80rem] flex-col items-center">
    <Image
      class="shadow-mr rounded-2xl bg-blue-100 max-md:-order-1"
      src={importedImage}
      alt={post.data.title}
    />
    <div class="mx-auto max-w-[80ch]">
      <div class="mt-8 flex items-center justify-between">
        <div class="flex items-center gap-3">
          <div class="h-10 w-10 rounded-full bg-blue-200"></div>
          <div>
            <p class="font-medium text-blue-200">
              {post.data.authorName}
            </p>
            <p class="text-sm text-gray-300">Lord of color</p>
          </div>
        </div>
      </div>
      <h1 class="mt-8 text-4xl/12 font-semibold">
        {post.data.title}
      </h1>
      <p class="text-body mt-4 font-medium opacity-70">
        {post.data.publishedDate.toLocaleDateString()}
      </p>
    </div>
  </div>
</section>

<section class="px-4 py-6 lg:py-16">
  <div class="mx-auto grid max-w-[80ch]">
    <div class="article-body">
      <Content />
    </div>
  </div>
</section>
