---
import { render } from "astro:content";
import { dynamicImportImage } from "~/utils";
import { Image } from "astro:assets";
import BlogPostAuthor from "~/components/blocks/BlogPostAuthor.astro";

const { post } = Astro.props;

const { Content } = await render(post);

const importedImage = await dynamicImportImage(post.data.image);
---

<section class="space-y-12">
  <div class="mx-auto flex w-full max-w-[80ch] flex-col items-center">
    <Image
      class="shadow-mr mt-8 rounded-2xl bg-blue-100 max-md:-order-1"
      src={importedImage}
      alt={post.data.title}
    />
    <div class="mx-auto w-full max-w-[80ch]">
      <div class="mt-8 flex items-center justify-between">
        <BlogPostAuthor name={post.data.authorName} />
      </div>
      <h1 class="mt-8 text-4xl/12 font-semibold">
        {post.data.title}
      </h1>
      <p class="text-body mt-4 font-medium opacity-70">
        {post.data.publishedDate.toLocaleDateString()}
      </p>
    </div>
  </div>
  <div class="mx-auto grid w-full max-w-[80ch]">
    <div class="article-body">
      <Content />
    </div>
  </div>
</section>
