---
import { Image } from "astro:assets";
import { dynamicImportImage } from "~/utils";

interface Props extends astroHTML.JSX.HTMLAttributes {
  category: string;
  title: string;
  author: string;
  date: Date;
  image: string;
  href: string;
}

const {
  category,
  author,
  date,
  title,
  image,
  href,
  class: className,
  "class:list": classList,
  ...props
} = Astro.props;

const loadedImage = await dynamicImportImage(image);
---

<div
  {...props}
  class:list={[
    "blog-post shadow-mr overflow-hidden rounded-xl border-1 border-gray-200 bg-white",
    classList,
    className,
  ]}
>
  <a href={href}>
    <Image class="object-cover" src={loadedImage} alt={title} />
    <div class="space-y-4 p-6">
      <p class="text-purple text-md/6 font-semibold">{category}</p>
      <p class="text-xl/8 font-semibold text-blue-200">
        {title}
      </p>
      <p class="text-body gap-2 text-sm font-medium opacity-70">
        {author} | {date.toLocaleDateString()}
      </p>
    </div>
  </a>
</div>
