---
import { getCollection } from "astro:content";
import TemplateCard from "~/components/blocks/TemplateCard.astro";
import seedrandom from "seedrandom";

interface Props {
  templateId?: string;
}

// 2. For your template, you can get the entry directly from the prop
const { templateId } = Astro.props;

const templates = await getCollection("templates");

const self = templateId
  ? templates.find((t) => t.data.id === templateId)
  : null;

const rand = seedrandom(templateId);

const lookup = new Map(templates.map((tmpl) => [tmpl.data.id, rand()]));

const suggestions = templates
  .filter(
    (tmpl) =>
      tmpl.id !== self?.id &&
      tmpl.data.tags.some((x: any) => x.name === self?.data.tags[0].name)
  )
  .sort((a, b) => lookup.get(a.id) - lookup.get(b.id))
  .slice(0, 3);
---

<section>
  <div class="mx-auto max-w-[80rem] space-y-6">
    <h2 class="text-center text-3xl font-medium">
      Other templates you might like
    </h2>
    <div
      class="grid grid-cols-1 gap-6 py-6 md:grid-cols-2 lg:grid-cols-3 lg:py-4"
    >
      {
        suggestions.map((tmpl) => (
          <TemplateCard
            href={`/templates/${tmpl.data.seoSlug}`}
            image={tmpl.data.thumbUrl}
            name={tmpl.data.label}
            description={tmpl.data.description}
            tags={tmpl.data.tags}
          />
        ))
      }
    </div>
  </div>
</section>
