---
import chrisPhoto from "~/assets/images/reviews/chris-zapier.png";
import zapierLogo from "~/assets/images/logos/zapier-logo-black.png";
import { Image } from "astro:assets";
import "swiper/css/pagination";

const reviews: {
  remark: string;
  reviewer: {
    name: string;
    photo: ImageMetadata;
    job: string;
    company: { name: string; logo: ImageMetadata };
  };
}[] = Array.from({ length: 5 }).map(() => ({
  remark:
    "Rapid iteration is an important part of our process and Metro Retro helps our team focus on what matters.",
  reviewer: {
    name: "Chris Vanderkolk",
    photo: chrisPhoto,
    job: "Engineering Manager",
    company: {
      name: "Zapier",
      logo: zapierLogo,
    },
  },
}));
---

<section class="pt-16 pb-32">
  <div class="mx-auto max-w-[1100px]">
    <div
      id="reviews-swiper"
      class="swiper [--swiper-pagination-bottom:0px] [--swiper-pagination-bullet-horizontal-gap:10px] [--swiper-pagination-bullet-inactive-color:var(--color-blue-100)] [--swiper-pagination-bullet-inactive-opacity:1] [--swiper-pagination-color:var(--color-blue-300)]"
    >
      <div class="swiper-wrapper pb-7">
        {
          reviews.map((review) => (
            <div class="swiper-slide">
              <div class="grid grid-cols-[280px_1fr] overflow-hidden rounded-[20px]">
                <div class="h-full w-full">
                  <Image
                    class="h-full w-full object-cover"
                    src={review.reviewer.photo}
                    alt={review.reviewer.name}
                  />
                </div>
                <div class="text-grey-300 space-y-6 bg-blue-100 px-8 py-[42px]">
                  <p class="text-[28px]/8 font-semibold">{review.remark}</p>
                  <div>
                    <p class="text-lg/8 font-semibold">
                      {review.reviewer.name}, {review.reviewer.job}
                      <br />
                      {review.reviewer.company.name}
                    </p>
                  </div>

                  <div class="max-h-9 max-w-[132px]">
                    <Image
                      src={review.reviewer.company.logo}
                      alt={review.reviewer.company.name}
                    />
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Pagination } from "swiper/modules";

  const swiper = new Swiper("#reviews-swiper", {
    modules: [Pagination],
    slidesPerView: 1,
    spaceBetween: 16,
    pagination: {
      enabled: true,
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
