---
import SignUp from "./blocks/SignUp.astro";
import logo from "~/assets/brand/logo-full-white.svg";
import { site } from "~/constants";
import { Image } from "astro:assets";

const footerLinks: {
  title: string;
  links: { title: string; url: string; external?: boolean }[];
}[] = [
  {
    title: "Product",
    links: [
      { title: "Templates", url: "/templates" },
      { title: "Meetings & Workshops", url: "/product/meetings-workshops" },
      { title: "Task Tracking", url: "/product/task-tracking" },
      { title: "Jira Integration", url: "/product/jira-integration" },
      { title: "Pricing", url: "/pricing" },
    ],
  },
  {
    title: "Use Cases",
    links: [
      { title: "Retrospectives", url: "/solutions/retrospectives" },
      { title: "Online Whiteboarding", url: "/solutions/online-whiteboarding" },
      { title: "Remote Collaboration", url: "/solutions/remote-collaboration" },
      { title: "Project Management", url: "/solutions/project-management" },
    ],
  },
  {
    title: "Resources",
    links: [
      { title: "Blog", url: "/blog" },
      { title: "Help Docs", url: "https://docs.ludi.co/" },
      { title: "Support", url: "/support" },
      {
        title: "Release Notes",
        url: "https://updates.ludi.co/",
        external: true,
      },
      {
        title: "Service Status",
        url: "https://status.ludi.co/",
        external: true,
      },
      {
        title: "Customer Stories",
        url: "/customers",
      },
    ],
  },
  // {
  //   title: "Compare",
  //   links: [
  //     { title: "Miro", url: "/compare/miro-alternative" },
  //     { title: "Mural", url: "/compare/mural-alternative" },
  //     { title: "FigJam", url: "/compare/figjam-alternative" },
  //     { title: "TeamRetro", url: "/compare/teamretro-alternative" },
  //     { title: "EasyRetro", url: "/compare/easyretro-alternative" },
  //     { title: "Parabol", url: "/compare/parabol-alternative" },
  //   ],
  // },
  {
    title: "Company",
    links: [
      { title: "About us", url: "/about" },
      { title: "Security", url: "/security" },
      { title: "Terms", url: "/terms" },
      { title: "Privacy", url: "/privacy" },
      { title: "AI Policy", url: "/legal/ai-addendum" },
      {
        title: "LinkedIn",
        url: "https://www.linkedin.com/company/metroretro",
        external: true,
      },
    ],
  },
];
---

<SignUp />

<footer class="bg-blue text-white">
  <div class="px-4 py-10 md:px-20">
    <nav
      aria-label="Footer navigation"
      class="mx-auto grid max-w-7xl grid-cols-1 md:grid-cols-4 md:justify-items-center md:gap-6 lg:grid-cols-4"
    >
      {
        footerLinks.map((fl) => (
          <div
            class="footer-link max-md:aria-expanded:[&_svg]:rotate-180"
            aria-expanded="false"
          >
            <div class="footer-link-header flex items-center justify-between gap-1 py-3">
              <p class="text-xl font-semibold">{fl.title}</p>

              <svg
                class="transition-transform duration-300 md:hidden"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M1 1L5 5L9 1" stroke="white" stroke-width="2" />
              </svg>
            </div>
            <div
              data-expanded="false"
              class="grid transition-[grid-template-rows] duration-300 data-[expanded=true]:grid-rows-[1fr] max-md:grid-rows-[0fr]"
            >
              <div class="overflow-hidden">
                <ul class="space-y-2">
                  {fl.links.map((link) => (
                    <li>
                      <a
                        href={link.url}
                        class="text-md font-regular leading-8 hover:text-white/50"
                        target={link.external ? "_blank" : undefined}
                        rel={link.external ? "noopener noreferrer" : undefined}
                      >
                        {link.title}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            </div>
          </div>
        ))
      }
    </nav>
  </div>

  <div
    class="flex gap-6 bg-blue-300 px-4 py-6 text-white max-md:flex-col md:items-center md:justify-center"
  >
    <div class="flex items-center gap-2.5">
      <Image src={logo} height={32} alt={`${site.name} logo`} loading="eager" />
    </div>
    <p class="font-regular text-md">
      © {new Date().getFullYear()} Deqo Software Limited. All Rights Reserved.
    </p>
  </div>
</footer>
<script>
  const footerLinks = [
    ...document.querySelectorAll(".footer-link"),
  ] as HTMLDivElement[];

  footerLinks.forEach((fl) => {
    const header = fl.querySelector(".footer-link-header") as HTMLDivElement;

    const contentWrapper = fl.querySelector(
      "[data-expanded]"
    ) as HTMLDivElement;

    header.addEventListener("click", () => {
      const isExpanded =
        contentWrapper.getAttribute("data-expanded") === "true";

      // close all
      footerLinks.forEach((flink) => {
        flink.setAttribute("aria-expanded", "false");
        flink
          .querySelector("[data-expanded]")
          ?.setAttribute("data-expanded", "false");
      });

      contentWrapper.setAttribute("data-expanded", String(!isExpanded));
      fl.setAttribute("aria-expanded", String(!isExpanded));
    });
  });
</script>
